<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <h1>Sorry to see you go...</h1>
        <div>
            <p>Your Priorly account and all of it's associated data has been
                deleted. We're sorry to see you go. Incase you want to sign up
                again, please do so by clicking on the link below:</p>

            <a href={{signupLink}}>Signup</a>

            <p>
                If the above link is not working, please visit the link below on
                your browser to create a new account on Priorly:
                <br />
                <a href={{signupLink}}>{{signupLink}}</a>
            </p>
        </div>
        <p>
            Best regards,
            <br />
            Team Priorly
        </p>
    </body>

</html>