<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>Verify you email</h1>
    <div>
        <p>Please use this one-time password (OTP) to authorize the email change request:</p>

        <h2 style="letter-spacing: 0.2rem;">{{otp}}</h2>
    </div>
    <p>
        Best regards,
        <br />
        Team Priorly
    </p>
</body>

</html>