<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <h1>Your Priorly email has been changed</h1>
        <div>
            <p>
                Your new Prioly email is now
                {{newEmail}}. Use this email to manage your Prioly account.
            </p>
            <p>Happy organizing!</p>
        </div>
        <p>
            Best regards,
            <br />
            Team Priorly
        </p>
    </body>

</html>