<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <h1>Your email has been changed</h1>
        <div>
            <p>
                This is now your Priorly account email. Please use this email to
                login into your account and manage your Priorly.
            </p>
            <p>Happy organizing!</p>
        </div>
        <p>
            Best regards,
            <br />
            Team Priorly
        </p>
    </body>

</html>