<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>Change your Priorly password</h1>
    <div>
        <p>Please use this one time one-time password (OTP) to authorize the password change request</p>

        <strong>{{otp}}</strong>
    </div>
    <p>
        Best regards,
        <br />
        Team Priorly
    </p>
</body>

</html>