<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <h1>Thank you for signing up to Priorly</h1>
        <div>
            <p>We are excited to have you onboard. Please use this one-time
                password (OTP) to verify your account:</p>
            <h2 style="letter-spacing: 0.2rem;">{{otp}}</h2>
        </div>
        <p>
            Best regards,
            <br />
            Team Priorly
        </p>
    </body>

</html>