<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <h1>We’re thrilled to have you on board!</h1>
        <div>
            <p>Hi,</p>
            <p>Your journey to managing and mastering your todos starts now. To
                get started, simply log in to your account and begin organizing
                your tasks with ease.</p>

            <p>The best part of using Priorly is you get you organize your tasks
                in a special table called
                <strong>Eisenhower Matrix.</strong>
                Make sure you read about it on
                <a href={{wikiLink}}>our wiki.</a>
            </p>

            <a href={{loginLink}}>Login to your account</a>

            <p>Happy organizing!</p>
        </div>
        <p>
            Best regards,
            <br />
            Team Priorly
        </p>
    </body>

</html>